<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISACAD</title>
</head>
<body>  
    <header>
        <div class="logo">
            <h1>SISACAD</h1>
        </div>
        <div class="logan">
            <p>Sistema Academico</p>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="box">
                <h1 class="title">Estudiantes</h1>
                <div class="desc">
                    <span>
                        <img src="../static/img/icons/showStudents.png">
                        <p>Mostrar todos los estudiantes</p>
                    </span>
                    <span>
                        <img src="../static/img/icons/editStudents.png">
                        <p>Agregar un nuevo estudiante</p>
                    </span>
                </div>
            </div>

            <div class="box">
                <p class="title">Cursos</p>
                <div class="desc">
                    <span>
                        <img src="../static/img/icons/showCourses.png">
                        <p>Mostrar todos los cursos</p>
                    </span>
                    <span>
                        <img src="../static/img/icons/editCourses.png">
                        <p>Agregar un nuevo curso</p>
                    </span>
                </div>
            </div>

            <div class="box">
                <p class="title">Administrar</p>
                <div class="desc">
                    <span>
                        <img src="../static/img/icons/showGrades.png">
                        <p>Mostrar las notas por cursos de todos los alumnos</p>
                    </span>
                    <span>
                        <img src="../static/img/icons/editGrades.png">
                        <p>Ingresar notas por cursos</p>
                    </span>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 SISACAD Todos los derechos reservados</p>
        <p>Grupo 3 - Pweb2</p>
    </footer>
</body>
</html>